<h2 class="ui center aligned medium icon header">
  <i class="circular red coffee icon"></i>
  Howdy ??
</h2>

<div class="ui grid two wide column">
	<div class="twelve wide column">
		<div class="ui fluid raised card chatbox">
  		<div class="content">
  			<%= render @messages %>
			</div>
			<div class="extra content">
				<%= form_for(@message, :html => {class: "ui reply form", role: "form"}, url: message_path) do |f| %>
    		<!-- <form class="ui reply form"> -->
	        <div class="field"> 
	          <div class="ui fluid icon input">
	          	<%= f.text_field :body, class: "form-control", placeholder: "Say something...", autofocus: true %> 
	          	<!-- <input type="text" placeholder="Say something..."> -->
	          	<%= f.button '<i class="bordered inverted red icon edit"></i>'.html_safe %>	
	        	</div>
	      	</div>
	      <% end %>
      	<!-- </form> -->
  		</div>
		</div>
	</div>

	<div class="four wide column">
		<div class="ui fluid raised card chatbox">
  		<div class="content">
				<div class="ui inverted vertical menu">
		  		<a class="active item" style="text-align: center;">
		    		Online Users
		  		</a>
				  <a class="item">
				    Messages
				  </a>
				  <a class="item">
				    Friends
				  </a>
				</div>
			</div>
		</div>
	</div>
</div>
